$color-one: #2d6478;
$color-two: #00cad9;
$color-white: white;
$color-body: #fafbfe;
$color-error: red;
$box-shadow-light: 0 0 35px 0 rgba(154, 161, 171, 0.15);
$box-shadow-compact: 0 0 5px 0 rgba(154, 161, 171, 0.35);
$gray-light: #a1a1a1;
$blue-light: #ebeef9;
// $primary: #00cad9;
// $secondary: #2d6478;
