// $primary: #00cad9;
// $secondary: #2d6478;
// $card-border-width: 0px;
// $dropdown-border-width: 0px;

// @import "bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $color-body;
}

a {
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

hr {
	height: 0.125rem !important;
	background-color: $blue-light;
	opacity: 1;
}

.sticky-top-2 {
	position: sticky;
	top: 1rem;
	z-index: 1020;
}

.bx-2 {
	border-top: 0.125rem solid $blue-light;
	border-bottom: 0.125rem solid $blue-light;
}

.bb-2 {
	border-bottom: 0.125rem solid $blue-light;
}

.text-gray-dark {
	color: #3f4254;
}

.text-gray-light {
	// color: #7d93b2;
	color: #a1a1a1;
}

.text-primary {
	color: $color-one;
}

.text-secondary {
	color: $color-two;
}

.bs-dim {
	box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.bg-color-two {
	background-color: $color-one;
}

.jam-nav {
	background: $color-two;
	box-shadow: 0 8px 10px rgba(125, 147, 178, 0.2);
}

.empty-add {
	cursor: pointer;
	width: 100%;
	border: 2px dashed $color-two;
	border-radius: 5px;
	padding: 3rem;
	transition: all 0.3s ease;

	i {
		color: $color-two;
		font-size: 5rem;
	}

	button {
		color: $color-two;
		background-color: transparent;
		transition: all 0.3s ease;
	}

	h6 {
		color: $color-one;
	}

	&:hover {
		background-color: rgba($color: $color-two, $alpha: 0.08);

		button {
			color: $color-white;
			background-color: $color-two;
		}
	}
}

.card {
	transition: all 0.3s ease;

	.card-body {
		transition: all 0.3s ease;
	}
}

// portfolio card
.portfolio-card {
	.card {
		box-shadow: 0 1px 2px 0 rgba(9, 30, 66, 0.5);
		color: $color-one;
		cursor: pointer;

		.card-body {
			border-top: 0.3rem solid $color-white;
		}

		&:hover {
			box-shadow: 0 8px 16px 0 rgba(9, 30, 66, 0.31);

			.card-body {
				border-top: 0.3rem solid $color-one;
				border-bottom-left-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
		}
	}
}

// job-card
.job-card {
	position: relative;
	// border-left: 5px solid $color-two;

	.job-title {
		color: $color-two;
	}
}

.employment-history,
.exp-history {
	position: relative;
}

.job-card,
.employment-details,
.exp-details {
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 90%;
		border-left: 5px solid $color-two;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

// side indicator
.side-indicator {
	position: relative;
	padding-left: 1rem;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 90%;
		border-left: 5px solid $color-two;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.side-indicator {
	position: relative;
	padding-left: 1rem;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 100%;
		border-left: 5px solid $color-two;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.side-indicator-left {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 90%;
		border-right: 5px solid $color-two;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}

// material ui css
// Tab
.MuiTabs-flexContainerVertical {
	.MuiTab-root {
		// padding-left: 1rem;
		min-height: auto;
		padding: 0.75rem 1rem;
		text-align: end !important;
	}
	+ .MuiTabs-indicator {
		margin-top: 0.5rem;
		height: 2rem !important;
		border-right: 5px solid $color-two;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}

// avatar
.large {
	width: 150px !important;
	height: 150px !important;
}

.user-active {
	border: 0.175rem solid $color-two;
	border-radius: 0.3rem;
}

// .MuiIconButton-root {
// 	background-color: $color-one !important;
// 	color: white !important;
// 	border: none !important;
// 	cursor: pointer !important;
// 	font-size: 1rem !important;
// 	border-radius: 0.25rem !important;
// 	padding: 0.25rem !important;
// }

.dropdown-menu {
	box-shadow: $box-shadow-compact;
	margin-top: 0.3rem !important;
}

// certificate
.certificate-icon {
	img {
		width: 100%;
		max-height: 150px;
	}
}

// modal
.modal-fullscreen {
	.modal-body {
		background-color: $color-body;
	}
}

.modal-content {
	border: none;

	.modal-header {
		border: none;
		background-color: $color-body;
	}

	.modal-footer {
		border: none;
	}
}

// sticky shadow
.shadow {
	position: sticky;
	top: 200px;
	width: 297px;
	box-shadow: 0px 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.75);
}

// Scrollbar
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
