.btn-primary {
	color: $color-white;
	&:hover,
	&:focus {
		color: white;
	}
}

.btn-form {
	text-transform: uppercase;
	border: 2px solid;
	transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background-color 300ms ease-out;

	span {
		display: inline-block;
		position: relative;
		transition: all 300ms ease-out;
	}
	i {
		position: absolute;
		opacity: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all 300ms ease-out;
	}
}

.btn-form:hover,
.btn-next-go {
	color: $color-white;
	box-shadow: 0 10px 15px rgba(125, 147, 178, 0.2);

	i {
		opacity: 1;
	}
}

.btn-next {
	color: $color-primary;
	border-color: $color-primary;

	i {
		right: 0;
	}
}

.btn-next-go {
	border-color: $color-primary;
}

.btn-back {
	color: $color-secondary;
	border-color: $color-secondary;

	&:hover {
		background: $color-secondary;

		span {
			transform: translate3d(0.8rem, 0, 0);
		}
		i {
			left: -1.6rem;
		}
	}

	i {
		left: 0;
	}
}

.btn-next:hover,
.btn-next-go {
	background: $color-primary;

	span {
		transform: translate3d(-0.8rem, 0, 0);
	}

	i {
		right: -1.6rem;
	}
}

/* Button Icon */
.btn-icon {
	padding: initial;
	line-height: inherit;
	color: $color-white;
	background-color: $color-secondary;
	border-color: $color-secondary;
	transition: all 0.3s ease;

	&.size-normal {
		height: 1.75rem;
		width: 1.75rem;
		font-size: 1rem;
	}

	&.size-small {
		height: 20px;
		width: 20px;
		font-size: 0.7rem;
	}

	&:hover {
		color: $color-white;
		box-shadow: 0 2px 5px 0 rgba(154, 161, 171, 0.5);
	}

	&::after {
		display: none;
	}
}

.btn-icon-delete {
	background-color: $color-error;
	border-color: $color-error;
}
