@import "../../cssVariables.scss";

#footer {
	// position: sticky;
	background-color: $color-one;
	color: #c0c0c0;
}

#footer p {
	line-height: 26px;
}

// .footer-top-section {
// 	border-bottom: 1px solid #484848;
// }

.footer-top-section .footer-logo img {
	max-height: 80px;
}

.footer-rows-container {
	display: block;
	height: 96px;
	position: relative;
	z-index: 100;
}

.footer-row {
	display: inline-block;
	padding: 0 40px;
	border-right: 1px solid #484848;
	border-left: 1px solid #484848;
	float: left;
	height: 100%;
}

.footer-row-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.footer-row-inner.footer-logo {
	position: relative;
	top: auto;
	transform: translateY(0);
	top: 50%;
	position: relative;
	height: 46px;
}

.footer-row-inner.footer-logo img {
	position: relative;
	top: 18%;
}

.footer-row:first-child {
	padding-left: 0;
	border-left: none;
}
.footer-row:last-child {
	padding-right: 0;
	border: none;
}

.footer-rows-right .footer-row:first-child {
	padding-left: 40px;
	// border-left: 1px solid #484848;
}

.footer-rows-right {
	float: right;
	height: 100%;
}

/* Social Icons */
.footer-social-links {
	list-style: none;
	margin: 0 -10px;
	margin-top: 3px;
	padding: 0;
}

.footer-social-links li {
	display: inline-block;
	padding: 0;
	margin: 0;
	float: left;
}

.footer-social-links li a {
	font-size: 20px;
	padding: 0 10px;
	color: #fff;
	display: inline-block;
	transition: 0.3s;
	opacity: 0.5;
	transform: translate3d(0, -0.5px, 0);
}

.footer-social-links li a:hover {
	opacity: 1;
}

/* Middle Section */
.footer-middle-section {
	padding: 60px 0;
	position: relative;
	z-index: 10;
}

#footer h3,
#footer h2,
.footer-links h3 {
	font-size: 18px;
	color: #fff;
	margin: 0 0 15px 0;
	padding: 0;
	display: block;
}

#footer h3 i {
	position: relative;
	margin-right: 5px;
	top: 2px;
	font-size: 20px;
	font-weight: 400 !important;
}
.footer-links ul {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

.footer-links ul li {
	margin-bottom: 0;
	display: block;
}

.footer-links ul li:first-child a {
	padding-top: 0;
}
.footer-links ul li:last-child a {
	padding-bottom: 0;
}

.footer-links ul li a {
	color: #c0c0c0;
	display: block;
	line-height: 25px;
	position: relative;
	z-index: 100;
	padding: 4px 0;
}

.footer-links ul li a span {
	display: inline-block;
	position: relative;
}

.footer-links ul li a:hover {
	color: #fff;
}

.footer-links ul li a span:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #66676b;
	height: 2px;
	display: block;
	transition: all 0.25s, opacity 0.2s;
	z-index: -1;
	border-radius: 3px;
	opacity: 0.5;
	width: 0;
}

.footer-links ul li a:hover span:before {
	width: 100%;
	opacity: 1;
}

/* Newsletter */
.newsletter {
	display: flex;
	margin-top: 20px;
}

.newsletter input,
.newsletter button {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.newsletter input {
	background: #262626;
	box-shadow: none;
	margin-bottom: 0;
}

.newsletter input:focus {
	box-shadow: none;
}

.newsletter button {
	background-color: #66676b;
	border-radius: 4px;
	height: 48px;
	min-width: 48px;
	max-width: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 18px;
	color: #fff;
	margin-left: 10px;
	transition: 0.3s;
}

.newsletter button:hover {
	background-color: #fff;
	color: #333;
}

.newsletter button i {
	width: 100%;
	line-height: 42px;
}

/* Copyrights */
.footer-bottom-section {
	padding: 25px 0;
	border-top: 1px solid #484848;
	text-align: center;
}

.footer-bottom-section strong {
	color: #fff;
	font-weight: 500;
}

/* Footer Media Queries*/
@media (max-width: 992px) {
	#footer h3 {
		margin-top: 45px;
	}
	.footer-middle-section {
		padding-top: 0;
		padding-bottom: 45px;
	}
}

@media (max-width: 768px) {
	.content-left-offset {
		padding-left: 15px;
	}
	.content-right-offset {
		padding-left: 15px;
	}

	.footer-rows-container {
		height: auto;
		padding: 20px 0 40px 0;
	}

	.footer-rows-left,
	.footer-rows-right {
		float: none;
		height: auto;
	}

	.footer-row-inner.footer-logo img {
		top: 0;
	}

	.footer-row-inner {
		position: relative;
		top: 0;
		transform: translateY(0);
	}

	.footer-row-inner.footer-logo {
		top: 0;
		position: relative;
		height: 46px;
	}

	#footer .footer-row {
		padding: 0;
		float: none;
		padding: 20px 0 0 0;
		display: block;
		width: 100%;
		border: none;
	}

	.footer-rows-container .footer-rows-left,
	.footer-rows-container .footer-rows-right {
		display: block;
	}
}
@media (max-width: 992px) {
	#footer h3 {
		margin-top: 45px;
	}
	.footer-middle-section {
		padding-top: 0;
		padding-bottom: 45px;
	}
}

@media (max-width: 768px) {
	.content-left-offset {
		padding-left: 15px;
	}
	.content-right-offset {
		padding-left: 15px;
	}

	.footer-rows-container {
		height: auto;
		padding: 20px 0 40px 0;
	}

	.footer-rows-left,
	.footer-rows-right {
		float: none;
		height: auto;
	}

	.footer-row-inner.footer-logo img {
		top: 0;
	}

	.footer-row-inner {
		position: relative;
		top: 0;
		transform: translateY(0);
	}

	.footer-row-inner.footer-logo {
		top: 0;
		position: relative;
		height: 46px;
	}

	#footer .footer-row {
		padding: 0;
		float: none;
		padding: 20px 0 0 0;
		display: block;
		width: 100%;
		border: none;
	}

	.footer-rows-container .footer-rows-left,
	.footer-rows-container .footer-rows-right {
		display: block;
	}
}
