@import "./bootstrap-custom";

$color-primary: $primary;
$color-secondary: $secondary;

// box shadow
$box-shadow-light: 0 0 35px 0 rgba(154, 161, 171, 0.15);
$box-shadow-compact: 0 0 5px 0 rgba(154, 161, 171, 0.35);
$box-shadow-600: 0 0px 10px 2px rgba(154, 161, 171, 0.5);
$box-shadow-400: 0px 3px 5px -1px rgba($color-light, 0.2), 0px 6px 10px 0px rgba($color-light, 0.14), 0px 1px 18px 0px rgba($color-light, 0.12);

// linear gradients
$lgr-primary-light: linear-gradient(
	to right,
	rgba(
		$color: $color-primary,
		$alpha: 0.2,
	),
	transparent
);

$lgr-p2s: linear-gradient(
	to right,
	rgba(
		$color: $color-primary,
		$alpha: 0.2,
	),
	$color-secondary
);

// box shadow

// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

$font-family: "Poppins", sans-serif;
$font-size: 13px;
// $font-family: "Source Sans Pro", sans-serif;
