@import url("https://fonts.googleapis.com/css2?family=Sarala&display=swap");

$color-one: #2d6478;
$color-two: #00cad9;
$color-white: white;
$color-body: #fafbfe;
$color-error: red;
$box-shadow-light: 0 0 35px 0 rgba(154, 161, 171, 0.15);
$box-shadow-compact: 0 0 5px 0 rgba(154, 161, 171, 0.35);
// $primary: #00cad9;
// $secondary: #2d6478;
