@import url("https://fonts.googleapis.com/css2?family=Sarala&display=swap");

:root {
	--color-body: #fafbfe;
	--color-one: #a485f2;
	--color-two: #38e0c4;
	--color-one-hov: #8c6eda;
	--color-two-hov: #20d4b6;
	--color-white: white;
	--color-error: red;
	/* #f5f8fa */
	/* #3f4254 */
	/* 56, 224, 196 */
}

body {
	font-family: "Sarala", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-body);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-gray-dark {
	color: #3f4254;
}
.text-gray-light {
	color: #7d93b2;
}
.jam-nav {
	background: var(--color-two);
	box-shadow: 0 8px 10px rgb(125 147 178 / 20%);
}

.ms-form {
	margin-top: 2rem;
}

.nav-steps {
	height: fit-content;
	background: var(--color-white);
	border-radius: 5px;
	/* box-shadow: 0 8px 15px rgb(125 147 178 / 25%); */
	box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}

.nav-steps li {
	margin: 0.75rem 0;
	padding: 0.5rem 0.8rem 0.5rem 1.1rem;
	border-radius: 2px;
	background: var(--color-body);
	transition: all 300ms ease-out;
}

.nav-steps .done {
	color: var(--color-one);
	background: var(--color-white);
	border-right: 8px solid var(--color-one);
	transition: all 300ms ease-out;
}

.nav-steps .active {
	color: var(--color-white);
	font-weight: 600;
	background: var(--color-two);
	border: none;
	transition: all 300ms ease-out;
}

.nav-step-title i {
	width: 1rem;
	margin-right: 10px;
}

.step-info {
	position: relative;
	background-color: rgba(56, 224, 196, 0.3);
	border-radius: 5px;
	overflow: hidden;
}

.step-info i {
	color: var(--color-white);
	font-size: 6rem;
	position: absolute;
	top: 50%;
	transform: translateY(-15%);
	right: 1rem;
}

.step-components {
	padding: 1rem 1rem 0;
	background: var(--color-white);
	border-radius: 5px;
	/* box-shadow: 0 8px 15px rgb(125 147 178 / 25%); */
	box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}

.form-control,
.form-select {
	box-shadow: none !important;
}

/* Fade animation */
.fade-appear {
	opacity: 0;
}
.fade-appear-active {
	opacity: 1;
	transition: opacity 1000ms ease-out;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
	transition: opacity 1000ms ease-out;
}

@media only screen and (min-width: 1200px) {
	.ms-form {
		width: 990px;
	}
}
